<div class="row">
  <!-- <div class="col-xs-10"> -->
    <hr>
    <h2>Shopping List</h2>

    <div class="col">
      <ul class="list-group">
        <a
          *ngFor="let ingredient of ingredients"
          class="list-group-item"
          style="cursor:pointer"
        >
          {{ ingredient.name }} ({{ ingredient.amount }})
        </a>
      </ul>
    </div>

  <div class="col">
    <app-shopping-list-edit
      (ingredientAdded)="onIngredientAdded($event)"
      ></app-shopping-list-edit>
  </div>
</div>
