<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      alt="{{recipe.name}}"
      class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div
      appDropdown
      class="btn-group">
      <button type="button"
        type="button"
        class="btn btn-primary dropdown-toggle">
        {{"manage recipe" | titlecase}} <span class="caret"></span>
      </button>

      <div
        class="dropdown-menu"
        style="position:absolute;top:38px;left:0px;will-change:transform;">
        <a href="#" class="dropdown-item">Add Ingredient to Shopping List</a>
        <a href="#" class="dropdown-item">Edit Recipe</a>
        <a href="#" class="dropdown-item">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
